@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src: local('Roboto Light'), local('Roboto-Light'), url(../fonts/roboto.light.woff) format('woff');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto Regular'), local('Roboto-Regular'), url(../fonts/roboto.medium.woff) format('woff');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: local('Roboto Bold'), local('Roboto-Bold'), url(../fonts/roboto.bold.woff) format('woff');
}

body {
	padding: 10px;
}

.sw {
	background:#fff;
	font-family: 'Roboto', sans-serif;
	font-weight: 700;
	color: #111;
	width: 1000px;
	margin: auto;
	padding-top: 15px;
}

.sw-logo {
	float: right;
}

.sw-back {
	clear: both;
	float: left;
	font-weight: 700;
	font-size: 10pt;
	margin-bottom: 30px;
	cursor: pointer;
}

.sw-back:before {
	font-family: "Ionicons";
	content: '\f150';
	font-size: 14pt;
	background: #111;
	border-radius: 9pt;
	color: #fff;
	padding: 2pt 6pt;
	margin-right: 10px;
	position: relative;
	top: 1px;
}

.sw-stage {
	width: 100%;
	height: 100%;
}

.sw-header h1 {
	clear: left;
}

.sw-content {
	width: 100%;
	height: 400px;
	margin: 15px 0 30px 0;
	clear: both;
}

.sw-content h2 {
	font-weight: 700;
	font-size: 14pt;
	margin-top: -20px;
}

.sw-text p {
	line-height: 1.2;
	font-weight: 400;
	width: 450px;
	margin-right: 50px;
	float: left;
	text-align: justify;
}

.sw-call-to-action {
	position: relative;
	cursor: pointer;
	color: #fff;
	font-weight: 400;
	font-size: 16pt;
	padding: 15px 5px 15px 30px;
	width: 120px;
	background: linear-gradient(to bottom,#ffc800 0,#e9a100 100%);
	top: -200px;
	left: 30px;
	box-shadow: 2px 2px 2px #888;
}

.sw-call-to-action:hover {
	background: linear-gradient(to bottom,#e9a100 0,#E29C00 100%);
}

.sw-jumbotron {
	position: relative;
	display: block;
	margin: auto;
	width: 1000px
}

.sw-footer {
	clear: both;
	padding-top: 20px;
}

.sw-footer-list {
	clear: both;
	padding: 10px;
	background-color: #f0f0f0;
}

.sw-footer-list li {
	cursor: pointer;
	font-weight: 400;
	font-size: 12pt;
	display: inline-block;
	padding-left: 20px;
	padding-right: 20px;
	color: #666;
}

.sw-footer-list li:not(:first-child) {
	border-left: 1px solid #666;
}

.tr3 {
	display: none;
}

.tr3-back {
	width: 50px;
	cursor: pointer;
	position: relative;
	top: -240px;
	font-size: 50pt;
	left: 10px;
	color: #aaa;
}

.tr3-home {
	cursor: pointer;
	position: absolute;
	top: 380px;
	font-size: 25pt;
	left: 220px;
	color: #aaa;
}

.inactive {
	display: none;
}
